
<!DOCTYPE html>
<html>
<title>Social Media Website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- //For-Mobile-Apps -->

	<!-- Style -->

	<!-- Web-Fonts -->
		<link href='//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<!-- //Web-Fonts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

{% load staticfiles %}

{% block head %}
<script type="text/javascript" src="{% static '/js/profile.js' %}"></script>
<script type="text/javascript" src="{% static '/js/instant_chat.js' %}"></script>
<link rel="stylesheet" href="{% static '/css/chatstyle.css' %}" type="text/css" media="all">
{% endblock %}


<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Open Sans", sans-serif}

.navbar123{
    margin-bottom: 100px;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.comment-bar{
     display: none;
 }
.hidden{
     display: none;
 }
  .activate{
      display: block;
  }

    .comments{
        margin-top: 0px!important;
    }

    .remove-bottom-margin{
    margin-bottom: 0px!important;
}

</style>
<body class="w3-theme-l5">
{% csrf_token %}
<input type="hidden" name="last_postID" value="{{last_postID}}">
<!-- Navbar -->
<div class="w3-top navbar123">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/profile" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Logo</a>
<a href="/profile_self" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" >{{profile.first_name}}</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="/messages" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>

  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>

     <div class="w3-hide-small w3-hide-medium">
     <form class="navbar-form navbar-left" action="/search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="query">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
     </div>


  <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account"><img src="/w3images/avatar2.png" class="w3-circle" style="height:25px;width:25px" alt="Logout"></a>


</div>

</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="navbar123 w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">

  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
    <a href="/messages" class="w3-bar-item w3-button w3-padding-large w3-hover-white" title="Messages"> <i class="fa fa-envelope"></i>  Messages</a>

</div>


 {% block one-row %}
    {% endblock %}
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">

    <!-- The Grid -->
  <div class="w3-row">


    <!-- Left Column -->
     {% block left-column %}
    <div class="w3-col m3">

         <a class="w3-right" href="/profile_edit"> Edit/Complete Profile</a>
      <!-- Profile -->
      <div class="w3-card-2 w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">{{profile.first_name}} {{profile.last_name}}</h4>


            <p class="w3-center"><img src="{{profile.profile_pic.url}}" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>


         <hr>
         <p><i class="fa fa-university fa-fw w3-margin-right w3-text-theme"></i> {{profile.title}}, {{profile.discipline}}</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> {{profile.city}}, {{profile.country}}</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> {{profile.dob}}</p>
        <p><i class="fa fa-graduation-cap fa-fw w3-margin-right w3-text-theme"></i> Graduating in {{profile.grad_date}}</p>
            {% if profile.phoneExists is True %}
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-text-theme"></i> {{profile.phone}}</p>
            {% endif %}
             <p><i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme"></i> {{profile.email}}</p>
        </div>
      </div>
      <br>

      <!-- Accordion -->
      <div class="w3-card-2 w3-round">
        <div class="w3-white">
          <a href="/groups" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Groups</a>
          <div id="Demo1" class="w3-hide w3-container">
            <p>Some text..</p>
          </div>
          <a onclick="myFunction('Demo2')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> My Events</a>

           {% block friend %}
          <a href="/friendRequests" class="w3-button w3-block w3-theme-l1 w3-left-align"><i><span id="friendRequests"class="w3-badge w3-left w3-small w3-green">{{ req|length }}</span></i> Friend Requests</a>
           {% endblock %}
           <a href="/friendList" class="w3-button w3-block w3-theme-l1 w3-left-align"> <i class="fa fa-users fa-fw w3-margin-right"></i>My Friends</a>

          <div id="Demo2" class="w3-hide w3-container">

            <p>Some other text..</p>
          </div>

            <a href="/photos" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-circle-o-notch fa-fw w3-margin-right"></i> My Photos</a>
          <div id="Demo3" class="w3-hide w3-container">
         <div class="w3-row-padding">
         <br>
           <div class="w3-half">
             <img src="/w3images/lights.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/mountains.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/forest.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
           <div class="w3-half">
             <img src="/w3images/fjords.jpg" style="width:100%" class="w3-margin-bottom">
           </div>
         </div>
          </div>
        </div>
      </div>
      <br>

      <!-- Interests -->
      <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>

              {% for interest in profile.getInterests %}
            <span class="w3-tag w3-small w3-theme-d5">{{interest}}</span>
            {% endfor %}
          </p>
        </div>
      </div>

        <div class="w3-card-2 w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Courses Taken</p>
          <p>

              {% for course in profile.getCourses %}
            <span class="w3-tag w3-small w3-theme-d5">{{course}}</span>
            {% endfor %}
          </p>
        </div>
      </div>
      <br>

      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
      </div>

    <!-- End Left Column -->
    </div>
    {% endblock %}


    <!-- Middle Column -->
     {% block middle-column %}
    <div class="w3-col m7">





        <!-- Top Div starts here -->
        <div id="Top">


        </div>
     <!-- Top div ends here -->



     {% for i, v in comments.items %}

        <div data="{{i.id}}" class="post-bar w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <img src="http://images.all-free-download.com/images/graphicthumb/lion_head_picture_168830.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">  {% load humanize %} {{i.pub_date | naturaltime }}</span>
        <h4>{{i.owner.first_name}}</h4><br>
        <hr class="w3-clear">
        <p>{{i.text}}</p>

         <button type="button" data="{{i.id}}" class="heart-button btn btn-danger btn-circle" style="
     margin-bottom: 15px;" data-toggle="modal" data-target="#myModal"> <i class="glyphicon glyphicon-heart"></i><span>  {{i.likes}} </span></button>


        {% if i in posts_liked_by_user %}
          <button type="button" data="{{i.id}}" class="like-button w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Liked</button>
        {% else %}
        <button type="button" data="{{i.id}}" class="like-button w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
        {% endif %}
        <button type="button" data="{{i.id}}" class="comment-button w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
      </div>

        <!-- Comment Box starts here -->
         <div  data="{{i.id}}" class="comments comment-bar w3-container w3-card-2 w3-white w3-round w3-margin" ><br>
            <p contenteditable="true" class="comment_input w3-border w3-padding"></p>
             <button data="{{i.id}}"type="button" class="comment_submit w3-button w3-theme"><i class="fa fa-pencil"></i>  Comment</button>

              {%for t in v%}
                 <h6>{{t.owner.first_name}}</h6><br>
                <div class="w3-container w3-card-2 w3-white w3-round">{{t.text}}</div>
             {% endfor %}
         </div>
        <!-- Comment Box ends here -->
{% endfor %}

         <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Post Liked by</h4>
        </div>
        <div class="modal-body">
          <div class="people_list">

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

    <!--  <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar5.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">16 min</span>
        <h4>Jane Doe</h4><br>
        <hr class="w3-clear">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
      </div>

      <div class="w3-container w3-card-2 w3-white w3-round w3-margin"><br>
        <img src="/w3images/avatar6.png" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <span class="w3-right w3-opacity">32 min</span>
        <h4>Angie Jane</h4><br>
        <hr class="w3-clear">
        <p>Have you seen this?</p>
        <img src="/w3images/nature.jpg" style="width:100%" class="w3-margin-bottom">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button>
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button>
      </div> -->

    <!-- End Middle Column -->
    </div>
    {% endblock %}

    {% block right-column %}
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Upcoming Events:</p>
          <img src="/w3images/forest.jpg" alt="Forest" style="width:100%;">
          <p><strong>Holiday</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>

      <div class="w3-card-2 w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="w3-card-2 w3-round w3-white w3-padding-16 w3-center">
        <p>ADS</p>
      </div>
      <br>

      <div class="w3-card-2 w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div>

    <!-- End Right Column -->
    </div>
    {% endblock %}

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>

{% block chatbox %}
    <div id="chat-button123"><img id="chat-box-img" src="{% static '/images/chat-button-new.jpg' %}"> </div>
	<div class="container w3layouts agileits">

		<div id="chatbox">

			<div id="friendslist">
                <span id="pull-down-chat-bar" style="color: gold; font-size: 35px;  padding-left:10%;" class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>

				<div id="topmenu">
                    <span class="friends">FRIENDS</span>
				</div>

				<div id="friends">

                     {% for i in friendList %}
                     <div class="friend w3layouts" person="{{i.friend.email}}">
						<img src="{% static '/images/winter-soldier.jpg' %}">
						<p>
							<strong>{{i.friend.name}}</strong>
							<span>{{i.friend.email}}</span>
						</p>
						<div class="status inactive" person="{{i.friend.email}}"></div>
					</div>

                    {%endfor%}


				</div>

                <div id="search">
						<input type="text" id="searchfield" value="Search contacts...">
                </div>

			</div>



			<div id="chatview" class="p1">

				<div id="profile">
					<div id="close">
						<div class="cy"></div>
						<div class="cx"></div>
					</div>
					<p>Bucky Barnes</p>
					<span>wintersoldier@gmail.com</span>
				</div>


                       {% for i in friendList %}
                         <div class="chatmessages hidden1" data-person="{{i.friend.email}}">
                                <label>Today</label>
                         </div>
                         <div class="endOfMsg"></div>

                    {%endfor%}




				<div id="sendmessage">
					<input type="text" value="Send message...">
					<button id="send"></button>
				</div>

			</div>

		</div>

	</div>
   {% endblock %}

<!-- Footer -->
 {% block footer %}
<footer class="w3-container w3-theme-d3 w3-padding-16">
  	<h4>:) :) :)</h4>
</footer>
   {% endblock %}


</body>
</html>
